*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 40%;
    height: 200px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
    border-radius: 5px;
    transition: all ease-in 0.25s;
}
.container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
    align-items: center;
}
.container .box i{
    transition: all ease-in 0.25s;
    font-size: 50px;
}
.container .box button{
    width: 90px;
    height: 40px;
    cursor: pointer;
    font-weight: 520;
    transition: all ease-in 0.25s;
    border-radius: 5px;
    box-shadow: 0px 0px 5pc 5px;
}

.container.off{
    background: orange;
}

.container.off i{
    color: whitesmoke;
}

.container.off button{
    background: orange;
    color: whitesmoke;
}

.container.on{
    background: wheat;
    transition: all ease-in 0.25s;
}

.container.on button{
    color: whitesmoke;
    background: orange;
}

